rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 1. Logs: el ESP32 y el frontend pueden escribir y leer
    match /logs/{logId} {
      // Permitimos crear logs nuevos (necesario para el ESP32 y el sistema)
      // Pero bloqueamos que cualquiera pueda borrar (delete) o modificar (update) el historial
      allow read, create: if true;
      allow update, delete: if false; 
    }

    // 2. Usuarios: Solo el administrador o el panel autenticado debería meter mano
    match /users/{userId} {
      // Exigimos que el usuario haya iniciado sesión en la web (Firebase Auth)
      allow read, write: if request.auth != null;
    }
  }
}
